:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}
/* 
.border{    
    border: 2px solid; 
} */


.logo{
    display: flex;
    gap: 10px;
    font-family: sans-serif;
    font-weight: 700;
}

.home ul li{
    list-style: none;
    display: flex;
    width: 14px; 
    gap: 10px;
    align-items: center;
    padding-top: 14px;
    font-family: sans-serif;
    font-weight: 700;
}


.left{
    width: 28vw;
    padding: 0px;
}

.lefthamburger{
    position: absolute;
    right: 0px;
}


.libraray{
    min-height: 80vh;
    position: relative;
}

.heading{
    display: flex;
    width: 100%;
    gap: 10px;
    font-size: 10px;
    font-family: sans-serif;
    padding-top: 20px;
    align-items: center;
    position: relative;
    bottom: 18px;
}

.right{
    width: 75vw;
    margin: 7px 0px;
    position: relative;
}

.nav{
    display: flex;
    gap: 22px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hamburger{
    display: none;
}


.header {
    display: flex;
    background-color: #1f1e1e;
    justify-content: space-between;
    border-radius: 8px;
    align-items: center;
    height: 64px;
}

.header > *{
    padding: 20px;
}

.buttons{
    display: flex;
    gap: 25px;
}

.sign_upButton{
    background-color: #1f1e1e;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: #a7a7a7;
    font-weight: bold;
}

.sign_upButton:hover{
    color: white;
    font-size: 17px;
}


.log_inButton{
    width: 103px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid;
    font-weight: bold;
}

.log_inButton:hover{
    cursor: pointer;
    font-size: 15px;
}

.sign_upButton{
    background-color: #1f1e1e;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    color: #a7a7a7;
}
   
.spotifyPlaylist{
    padding: 10px;
    font-family: sans-serif; 
}

.spotifyPlaylist h1{
    font-size: 20px;
}

.cortContainer{
    display: flex;
    gap: 18px;
    margin: 4px;
    padding: 9px;
    flex-wrap: wrap; 
    max-width: 100%;
    overflow-y: auto;
    max-height: 70vh;
}



.cart{
    width: 180px;
    background-color: #181818;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;

}

.cart:hover{
    background-color: rgb(57, 57, 57);
    /* transition: all 0.9s; */
    --a: 1;
}

.cart > *{
    border-radius: 100px;
    width: 100%;
    object-fit: contain;
    font-size: 13px;
}

.cart img{
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
}


.cart h1{
    font-size: 15px;
}

.cart p{
    color: gray;
}

.playbutton {
    width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: rgb(30, 215, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 144px;
    opacity: var(--a);
    transition: all 0.9s ease-out 0s;
}


.footer{
    display: flex;
    font-size: 6px;
    gap: 13px;
    font-family: sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
}

.footer a{
    color: gray;
}

.playButton{
    position: fixed;
    bottom: 20px;
    background-color: rgb(30, 215, 96);
    padding: 10px;
    width: 69vw;
    border-radius: 15px;
    min-height: 35px;
    margin: 0px 5px;
}

/* .playbtnTypes{
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    position: absolute;
    left: 50%;
} */


.playbtnTypes{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    width: 100%; 
}

.aboveBar{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.songInfo, .songTime{
    color: black;
    font-family: sans-serif;
}

.aboveBar .songInfo{
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.sheekbar{
    height: 8px;
    width: 98%;
    background-color: black;
    position: absolute;
    bottom: 4px;
    border-radius: 30px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 12px;
    position: relative;
    bottom: 3px;
    left: 0%;
    transition: left 0.5s;
}

.songsList{
    height: 455px;
    overflow: auto;
    margin-bottom: 44px;
}


.songsList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin: 4px;
    padding: 13px;
    border-radius: 10px;
    align-items: center;
    height: 20px;
}

.info{
    font-size: 10px;
    width: 150px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.playnow span{
    font-size: 10px;
}

.songsList ul{
    padding: 12px 0px;
    cursor: pointer;
}

.heading img{
    width: 30px;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 8px;
}
 
.timeVol{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    left: 80px;
}

.volume{
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 2px; 
    cursor: pointer
}

.range{
    display: flex;
    justify-content: center;
    align-items: center;
}

.range input{
    cursor: pointer;
}


.playbutton img{
    height: 36px;
    position: relative;
    left: 2px;
    width: 21px;
}


input[type="range"] {
    accent-color: black;
  }

@media (max-width: 1200px) {
    .left{
        position: absolute;
        /* border: 2px solid red; */
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 400px;
    }    

    .right{
        width: 100vw;
    }

    .hamburger{
        display: block;
    }
    
    .lefthamburger{
        left: 316px;
    }

    .lefthamburger img{
        position: fixed;
    }

    .cortContainer{
        justify-content: center;
        width: 94vw;
        margin: 0px;
        max-height: 96vh;
    }

    .playButton{
        position: absolute;
        width: 92vw;
        top: 100%;
        height: 108px;
    }

    .aboveBar{
        flex-direction: column;
        gap: 28px;
        align-items: center;
    }
    
    .playbtnTypes{
        bottom: 67px;    
    }

    .sheekbar{
        width: 95%;
    }

    .spotifyPlaylist{
        height: 100vh;
    }

    .cart{
        width: 44vw;
    }

    .songInfo{
        min-width: 194px;
    }

    .songTime{
        position: relative;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 79px;
    }

    .timeVol{
        position: relative;
        bottom: 5px;
    }
    
    .range{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .volume{
        position: relative;
        right: 0px;
        bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }

    .playbutton{
        width: 80px;
        min-height: 80px;
        border-radius: 50%;
        background-color: rgb(30, 215, 96);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        right: 27px;
        top: 254px;
        opacity: var(--a);
        transition: all 0.9s ease-out 0s;
    }

    .cart{
        cursor: pointer;
    }

    .cart:hover{
        background-color: rgb(57, 57, 57);
        /* transition: all 0.9s; */
        --a: 1;
    }

    .playbutton img{
        height: 36px;
        position: relative;
        left: 2px;
    }
    
}




@media (max-width: 500px){
    .cart{
        width: 100vw;
    }
}

